<form class="form-row">
  <div class="form-group col-md-1">
    <label for="selectType">Type</label>
    <select id="selectType" name="selectType" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectType.length; i++) { %>
      <option value="<%= locals.selectType[i].toLowerCase() %>"><%= locals.selectType[i] %></option>
      <% } %>
    </select>
  </div>
  <% if (locals.selectSkill) { %>
  and
  <div class="form-group col-md-2">
    <label for="selectSkill">Skill</label>
    <select id="selectSkill" name="selectSkill" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectSkill.length; i++) { %>
      <option value="<%= locals.selectSkill[i] %>"><%= locals.selectSkill[i] %></option>
      <% } %>
    </select>
  </div>
  and
  <div class="form-group col-md-1">
    <label for="selectSkillPoint">Skill point</label>
    <select id="selectSkillPoint" name="selectSkillPoint" class="form-control">
      <option value="all">--All--</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <% } %>
  <% if (locals.selectZone) { %>
  and
  <div class="form-group col-md-2">
    <label for="selectZone">Zone</label>
    <select id="selectZone" name="selectZone" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectZone.length; i++) { %>
      <option value="<%= locals.selectZone[i] %>"><%= locals.selectZone[i] %></option>
      <% } %>
    </select>
  </div>
  <% } %>
  <% if (locals.selectPassiveAbility) { %>
  and
  <div class="form-group col-md-2">
    <label for="selectPassiveAbility">Passive ability</label>
    <select id="selectPassiveAbility" name="selectPassiveAbility" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectPassiveAbility.length; i++) { %>
      <option value="<%= locals.selectPassiveAbility[i] %>"><%= locals.selectPassiveAbility[i] %></option>
      <% } %>
    </select>
  </div>
  <% } %>
  <% if (locals.selectSchematicPlace) { %>
  and
  <div class="form-group col-md-2">
    <label for="selectSchematicPlace">Schematic Place</label>
    <select id="selectSchematicPlace" name="selectSchematicPlace" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectSchematicPlace.length; i++) { %>
      <option value="<%= locals.selectSchematicPlace[i] %>"><%= locals.selectSchematicPlace[i] %></option>
      <% } %>
    </select>
  </div>
  <% } %>
  <% if (locals.selectFusion) { %>
  or
  <div class="form-group col-md-1">
    <label for="selectFusion">Fusion</label>
    <select id="selectFusion" name="selectFusion" class="form-control">
      <option value="all">--All--</option>
      <% for (let i = 0; i < locals.selectFusion.length; i++) { %>
      <option value="<%= locals.selectFusion[i] %>"><%= locals.selectFusion[i] %></option>
      <% } %>
    </select>
  </div>
  <% } %>
  <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
  <input type="submit" value="Submit" class="btn submit">
  <input type="reset" value="Reset" class="btn reset">
</form>
