<%- include('familiars-filters') %>
<table class="table table-bordered familiars">
  <thead>
    <tr>
      <th id="count" title="<%= locals.count %> familiars"><%= locals.count %></th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc">Power&nbsp;(%)</th>
      <th id="stamina" class="asc">Stamina&nbsp;(%)</th>
      <th id="agility" class="asc">Agility&nbsp;(%)</th>
      <th id="skill1" class="asc">Skill 1</th>
      <th id="skill2" class="asc">Skill 2</th>
      <th id="skill3" class="asc">Skill 3</th>
      <th id="skill4" class="asc">Skill 4</th>
      <th id="zone" class="asc">Zone</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < locals.data.length; i++) { %>
    <tr id="<%= locals.data[i].name.replace(/ /g, '') %>"
      class="<%= locals.data[i].type.toLowerCase() %>"
      data-raw-skills="<%= locals.data[i].rawSkills %>"
      data-raw-zone="<%= locals.data[i].zone %>">
      <td><img src="<%= locals.data[i].avatar %>" alt=""></td>
      <td><%= locals.data[i].type %></td>
      <td><%= locals.data[i].name %></td>
      <td><%= locals.data[i].power %></td>
      <td><%= locals.data[i].stamina %></td>
      <td><%= locals.data[i].agility %></td>
      <% for (let j = 0; j < 4; j++) { %>
      <td>
        <% if (locals.data[i].skills[j]) { %>
          <%= locals.data[i].skills[j].name %> (<%= locals.data[i].skills[j].skillPoint %>&nbsp;SP)<br><b><%= locals.data[i].skills[j].action %></b></b><br><%= locals.data[i].skills[j].pourcentage %>
        <% } %>
      </td>
      <% } %>
      <td><span><%= locals.data[i].zone %></span></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th id="count" title="<%= locals.count %> familiars"><%= locals.count %></th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc">Power (%)</th>
      <th id="stamina" class="asc">Stamina (%)</th>
      <th id="agility" class="asc">Agility (%)</th>
      <th id="skill1" class="asc">Skill 1</th>
      <th id="skill2" class="asc">Skill 2</th>
      <th id="skill3" class="asc">Skill 3</th>
      <th id="skill4" class="asc">Skill 4</th>
      <th id="zone" class="asc">Zone</th>
    </tr>
  </tfoot>
</table>
