<%- include('familiars-filters') %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Avatar</th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc">Power&nbsp;(%)</th>
      <th id="stamina" class="asc">Stamina&nbsp;(%)</th>
      <th id="agility" class="asc">Agility&nbsp;(%)</th>
      <th id="spell1" class="asc">Spell 1</th>
      <th id="spell2" class="asc">Spell 2</th>
      <th id="spell3" class="asc">Spell 3</th>
      <th id="spell4" class="asc">Spell 4</th>
      <th id="spell5" class="asc">Spell 5</th>
      <th id="passiveAbility" class="asc">Passive ability</th>
      <th id="fusion" class="asc">Fusion</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < locals.data.length; i++) { %>
      <tr id="<%= locals.data[i].name.replace(/ /g, '') %>" class="<%= locals.data[i].type.toLowerCase() %>">
        <td><img src="<%= locals.data[i].avatar %>" alt=""></td>
        <td><%= locals.data[i].type %></td>
        <td><%= locals.data[i].name %></td>
        <td><%= locals.data[i].power %></td>
        <td><%= locals.data[i].stamina %></td>
        <td><%= locals.data[i].agility %></td>
        <td><%= locals.data[i].spell1.name %><br><%= locals.data[i].spell1.action %><br><%= locals.data[i].spell1.pourcentage %></td>
        <td><%= locals.data[i].spell2.name %><br><%= locals.data[i].spell2.action %><br><%= locals.data[i].spell2.pourcentage %></td>
        <td><%= locals.data[i].spell3.name %><br><%= locals.data[i].spell3.action %><br><%= locals.data[i].spell3.pourcentage %></td>
        <td><%= locals.data[i].spell4.name %><br><%= locals.data[i].spell4.action %><br><%= locals.data[i].spell4.pourcentage %></td>
        <td><%= locals.data[i].spell5.name %><br><%= locals.data[i].spell5.action %><br><%= locals.data[i].spell5.pourcentage %></td>
        <td><%= locals.data[i].passiveAbility %></td>
        <td>
          <% for (let j = 0; j < locals.data[i].fusion.length; j++) { %>
            <% if (
              locals.data[i].fusion[j].name.includes('Gold')
              || locals.data[i].fusion[j].name.includes('Material')
              || locals.data[i].fusion[j].name.includes('Sprocket')
              || locals.data[i].fusion[j].name.includes('Syrum')
              ) { %>
              <%= locals.data[i].fusion[j].count %> <%= locals.data[i].fusion[j].name %><br>
            <% } else { %>
              <%= locals.data[i].fusion[j].count %> <a href="/familiars#<%= locals.data[i].fusion[j].name.replace(/ /g, '') %>"><%= locals.data[i].fusion[j].name %></a><br>
            <% } %>
          <% } %>
        </td>
      </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>Avatar</th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc">Power (%)</th>
      <th id="stamina" class="asc">Stamina (%)</th>
      <th id="agility" class="asc">Agility (%)</th>
      <th id="spell1" class="asc">Spell 1</th>
      <th id="spell2" class="asc">Spell 2</th>
      <th id="spell3" class="asc">Spell 3</th>
      <th id="spell4" class="asc">Spell 4</th>
      <th id="spell5" class="asc">Spell 5</th>
      <th id="passiveAbility" class="asc">Passive ability</th>
      <th id="fusion" class="asc">Fusion</th>
    </tr>
  </tfoot>
</table>
