<%- include('familiars-filters') %>
<p>Upgrades shown focus on power.</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th id="count" title="<%= locals.count %>"><%= locals.count %></th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc number"><img src="/power.png" alt="" title="Power&nbsp;(%)"><span class="invisible">Power&nbsp;(%)</span></th>
      <th id="stamina" class="asc number"><img src="/stamina.png" alt="" title="Stamina&nbsp;(%)"><span class="invisible">Stamina&nbsp;(%)</spna></th>
      <th id="agility" class="asc number"><img src="/agility.png" alt="" title="Agility&nbsp;(%)"><span class="invisible">Agility&nbsp;(%)</spna></th>
      <th id="baseStats" class="asc number">Base&nbsp;stats</th>
      <th id="update1" class="asc number">Update&nbsp;1</th>
      <th id="update2" class="asc number">Update&nbsp;2</th>
      <th id="update3" class="asc number">Update&nbsp;3</th>
      <th id="update4" class="asc number">Update&nbsp;4</th>
      <th id="maxedStats" class="asc number">Maxed&nbsp;stats</th>
      <th id="weaponType" class="asc">Weapon&nbsp;Type</th>
      <th id="tier" class="asc">Tier</th>
      <th id="zone" class="asc">Zone</th>
    </tr>
  </thead>
  <tbody>
  <% for (let i = 0; i < locals.data.length; i++) { %>
    <tr id="<%= locals.data[i].name.replace(/ /g, '') %>"
      class="<%= locals.data[i].type.toLowerCase() %>"
      data-raw-tier="<%= locals.data[i].tier %>"
      data-raw-weapon-type="<%= locals.data[i].weaponType %>"
      data-raw-zone="<%= locals.data[i].zone %>">
      <td><img src="<%= locals.data[i].avatar %>" alt=""></td>
      <td><%= locals.data[i].type %></td>
      <td><%= locals.data[i].name %></td>
      <td><%= locals.data[i].power %></td>
      <td><%= locals.data[i].stamina %></td>
      <td><%= locals.data[i].agility %></td>
      <td><%= locals.data[i].baseStats %></td>
      <% for (let j = 0; j < 4; j++) { %>
      <td><%= locals.data[i].update[j] %></td>
      <% } %>
      <td><%= locals.data[i].update[locals.data[i].update.length - 1] %></td>
      <td><span><%= locals.data[i].weaponType %></span></td>
      <td><span>T<%= locals.data[i].tier %></span></td>
      <td><span><%= locals.data[i].zone %></span></td>
    </tr>
  <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th id="count" title="<%= locals.count %>"><%= locals.count %></th>
      <th id="type" class="asc focus">Type</th>
      <th id="name" class="asc">Name</th>
      <th id="power" class="asc number"><img src="/power.png" alt="" title="Power&nbsp;(%)"><span class="invisible">Power&nbsp;(%)</span></th>
      <th id="stamina" class="asc number"><img src="/stamina.png" alt="" title="Stamina&nbsp;(%)"><span class="invisible">Stamina&nbsp;(%)</spna></th>
      <th id="agility" class="asc number"><img src="/agility.png" alt="" title="Agility&nbsp;(%)"><span class="invisible">Agility&nbsp;(%)</spna></th>
      <th id="baseStats" class="asc number">Base&nbsp;stats</th>
      <th id="update1" class="asc number">Update&nbsp;1</th>
      <th id="update2" class="asc number">Update&nbsp;2</th>
      <th id="update3" class="asc number">Update&nbsp;3</th>
      <th id="update4" class="asc number">Update&nbsp;4</th>
      <th id="maxedStats" class="asc number">Maxed&nbsp;stats</th>
      <th id="weaponType" class="asc">Weapon&nbsp;Type</th>
      <th id="tier" class="asc">Tier</th>
      <th id="zone" class="asc">Zone</th>
    </tr>
  </tfoot>
</table>
